<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/head.pug
    body
        include ../includes/navigation.pug

        main
            block content
        script(src="/js/main.js")