extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/cart.css")

block content
    h1 Carrinho
    if cart.products.length > 0
        include ../includes/cart-list.pug
        div.centered
            form.cart(action="/orders", method="POST")
                button.btn(type="submit") Comprar
    else
        p Seu carrinho está vazio.

